/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.mkdf-title {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 200px;
  text-align: left;
  z-index: 101;
  background-color: #f6f6f6;
  background-position: center 0;
  background-repeat: no-repeat;
}

.mkdf-title.mkdf-has-parallax-background {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 101;
}

.mkdf-title.mkdf-content-center-alignment {
  text-align: center;
}

.mkdf-title.mkdf-content-right-alignment {
  text-align: right;
}

.mkdf-title.mkdf-has-responsive-background {
  height: auto !important;
}

.mkdf-title.mkdf-has-responsive-background .mkdf-title-holder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.mkdf-title.mkdf-has-responsive-background .mkdf-title-holder .mkdf-container {
  display: block;
  height: 100%;
}

.mkdf-title.mkdf-has-responsive-background .mkdf-title-holder .mkdf-container-inner {
  display: table;
  height: 100%;
}

.mkdf-title.mkdf-has-responsive-background .mkdf-title-holder .mkdf-title-subtitle-holder {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.mkdf-title.mkdf-breadcrumb-type .mkdf-title-holder .mkdf-breadcrumbs a,
.mkdf-title.mkdf-breadcrumb-type .mkdf-title-holder .mkdf-breadcrumbs span {
  color: #333;
}

.mkdf-title .mkdf-title-image img {
  position: relative;
  display: block;
  width: 100%;
}

.mkdf-title.mkdf-title-image-responsive {
  height: auto !important;
}

.mkdf-title.mkdf-title-image-not-responsive .mkdf-title-image {
  display: none;
}

.mkdf-title .mkdf-title-holder {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  /* #Standard title - start
        ========================================================================== */
  /* #Standard title - end
        ========================================================================== */
  /* #Breadcrumb title - start
        ========================================================================== */
  /* #Breadcrumb title - end
        ========================================================================== */
}

.mkdf-title .mkdf-title-holder .mkdf-container {
  display: table-row;
  vertical-align: middle;
  background-color: transparent;
}

.mkdf-title .mkdf-title-holder .mkdf-container-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 !important;
}

.mkdf-title .mkdf-title-holder .mkdf-title-subtitle-holder {
  position: relative;
  display: block;
  padding: 0;
  z-index: 25;
}

.mkdf-title .mkdf-title-holder .mkdf-title-subtitle-holder-inner {
  position: relative;
}

.mkdf-title .mkdf-title-holder .mkdf-page-title {
  position: relative;
  display: block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
}

.mkdf-title .mkdf-title-holder .mkdf-page-title span {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-title .mkdf-title-holder .mkdf-subtitle {
  display: block;
  margin-top: 4px;
}

.mkdf-title .mkdf-title-holder .mkdf-subtitle span {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-title .mkdf-title-holder .mkdf-breadcrumbs-holder {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-title .mkdf-title-holder .mkdf-breadcrumbs a,
.mkdf-title .mkdf-title-holder .mkdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #6e6e6e;
}

.mkdf-title .mkdf-title-holder .mkdf-breadcrumbs a:hover {
  color: #333333;
}

.mkdf-title.mkdf-standard-type .mkdf-breadcrumbs-holder {
  position: relative;
  display: block;
  height: 100%;
  margin-top: 10px;
}

.mkdf-title.mkdf-standard-type .mkdf-breadcrumbs-holder .mkdf-breadcrumbs {
  display: table;
  height: 100%;
  width: 100%;
}

.mkdf-title.mkdf-standard-type .mkdf-breadcrumbs-holder .mkdf-breadcrumbs-inner {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-title.mkdf-standard-type.mkdf-content-left-alignment .mkdf-breadcrumbs-holder {
  right: 0;
}

.mkdf-title.mkdf-standard-type.mkdf-content-right-alignment .mkdf-breadcrumbs-holder {
  left: 0;
}

.mkdf-title.mkdf-standard-type.mkdf-content-center-alignment .mkdf-breadcrumbs-holder {
  position: relative;
  top: auto;
  height: auto;
  display: block;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/title-map.css.map */
