.mkdf-blog-holder.mkdf-blog-single.mkdf-blog-single-standard {

    @include ipad-portrait {

        .mkdf-blog-single-navigation .mkdf-blog-single-next,
        .mkdf-blog-single-navigation .mkdf-blog-single-prev {
            width: 36%;
        }

        .mkdf-author-description .mkdf-author-description-inner {
            padding: 36px 0 30px;
        }

        article {

            blockquote {
                padding: 0 0 10px 60px;
                &:after {
                    left: 9px;
                }
            }

            .mkdf-post-info-bottom {

                .mkdf-post-info-bottom-left,
                .mkdf-post-info-bottom-right {
                    width: 100%;
                    float: none;
                }

                .mkdf-post-info-bottom-right {
                    text-align: inherit;
                    margin: 10px 0 0;
                }
            }

            &.format-quote,
            &.format-link {
                .mkdf-post-mark {
                    display: block;
                    width: 100%;
                    margin-bottom: 13px;
                }

                .mkdf-post-text {
                    padding: 37px 37px 20px
                }

                .mkdf-post-quote-holder,
                .mkdf-post-link-holder{
                    display: block;
                    padding-left: 0;
                }

                .mkdf-post-info-bottom {
                    width: 100%;
                    .mkdf-blog-share {
                        padding-left: 0;
                    }
                }


            }
        }

        .mkdf-blog-single-navigation {
            .mkdf-blog-single-prev {
                .mkdf-blog-single-nav-label,
                .mkdf-blog-single-nav-mark {
                    left: inherit;
                    position: relative;
                    top: inherit;
                    transform: none;
                    display: block;
                }
            }
            .mkdf-blog-single-next {
                .mkdf-blog-single-nav-label,
                .mkdf-blog-single-nav-mark {
                    right: inherit;
                    position: relative;
                    top: inherit;
                    transform: none;
                    display: block;
                    text-align: right;
                }
            }
        }


    }
}
