/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.mkdf-woo-pagination-holder {
    @include mkdfRelativeHolderLayout();
    margin: 0 0 66px;
    clear: both;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;

    .mkdf-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: right;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            font-size: 14px;

            &:first-child:not(.current) {
                float: left;
                font-size: 18px;
            }

            &:last-child:not(.current) {
                float: right;
                font-size: 18px;
            }

            a,
            span {
                position: relative;
                display: inline-block;
	            width: auto;
                margin: 0 12px;
                padding: 0;
                vertical-align: middle;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                font-family: $default-heading-font;
                color: #333333;
                font-weight: 500;
                @include mkdfTransition(color .2s ease-out);
                &:hover {
                    color: $first-main-color;
                }
                &.current {
                    color: $first-main-color;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        display: inline-block;
                        width: 12px;
                        height: 2px;
                        background-color: #43d5cb;
                        left: -3px;
                    }
                }
            }

            a {

                &.next,
                &.prev {
                    font-size: 0;
                    line-height: 1;
                    margin: 0;

                    &:before {
                        display: block;
                        font-size: 18px;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }

                &.prev {

                    &:before {
                        content: "Previous Page";
                    }
                }

                &.next {
                    float: right;

                    &:before {
                        content: "Next Page";
                    }
                }
            }
        }
    }
}

.mkdf-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 2px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */